/*メインのカスタム*/

html{
  height:100%;
}

#target{
  margin: 10px auto;
  width:1200px;
  height:500px;
}

header a{
  display: block;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header a h1{
  color: #FFF;
  font-weight: bold;
  float: left;

}

nav ul{
  float:right;
  margin-left: 100px;
}

nav ul li{
    float: left;
    list-style: none;
}
nav ul li button{
  font-size: 1.3em;
  color: #FFF;
  margin-right: 30px;
  padding: 10px 20px;
  background-color: #006EFF;
  border-radius: 20px;
  transition-duration: 0.5s;
}

nav ul li button:hover{
  background-color: #3377FF;
  text-shadow: 0 0 6px #FFF;
  box-shadow: 0 0 6px #37F;
}

header{
  background-color: #9BD0FA;
  header:100%;
  width:100%;
  vertical-align: middle;
  border-bottom:solid #006EFF 5px;
  height:10%;
  position: relative;
}

header:after{
  content:'';
  display:block;
  clear:both;
}

body{
  height:100%;
  margin:0;
  background-color: #FFF;
  background-image: linear-gradient(rgba(155,208,208,0),rgba(155,208,208,0.5));
}

input.faculty{
  width:350px;
}

.message{
  text-align: center;
}

.toSearch{
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  transition-duration: 0.5s;
  background-color: #006EFF;
  color:#FFF;
  font-size: 1.3em;
}

.toSearch:hover{
  background-color: #3377FF;
  text-shadow: 0 0 6px #FFF;
  box-shadow: 0 0 6px #37F;
}

.searchParent{
  display: block;
  height:auto;
  width: auto;
  text-align: center;
}

/*googlemapのデザイン*/
.contentsName{
  font-size: 1.2em;
  font-weight: bold;
}

/*ここからsearch用*/

.searchForm{
  display: block;
  text-align: center;
  width: auto;
}

.searchForm h2{
  text-align: left;
  margin-left: 100px;
  margin-bottom: 10%;
}

.searchForm form label{
  font-size: 20px;
}

.go{
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  transition-duration: 0.5s;
  background-color: #006EFF;
  color:#FFF;
  font-size: 1.3em;
}

.go:hover{
  background-color: #3377FF;
  text-shadow: 0 0 6px #FFF;
  box-shadow: 0 0 6px #37F;
}

/*========================================
このサイトについて
==========================================*/
.message h2{
  text-align: left;
  margin-left: 10%;
  margin-bottom: 10%;
}
.message{
  text-align: center;
}

.message img{
  margin-top: 10%;
  width: 10%;
  height: auto;
}
